@model johnmarket.DTO.ProdutoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Editar produto</h3>
<hr>
<form class="form-horizontal" asp-controller="Produtos" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do produto">
    <span asp-validation-for="Nome"></span><br>
    <label asp-for="CategoriaId">Categoria</label>
    <select class="form-control" asp-for="CategoriaId" asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "Nome"))'></select>
    <span asp-validation-for="CategoriaId"></span><br>
    <label asp-for="FornecedorId">Fornecedor</label>
    <select class="form-control" asp-for="FornecedorId" asp-items='@(new SelectList(@ViewBag.Fornecedores, "Id", "Nome"))'></select>
    <span asp-validation-for="FornecedorId"></span><br>
    <label asp-for="PrecoDeCustoString">Preço de custo</label>
    <input type="text" asp-for="PrecoDeCustoString" class="form-control" placeholder="99.99">
    <span asp-validation-for="PrecoDeCustoString"></span><br>
    <label asp-for="PrecoDeVendaString">Preço de venda</label>
    <input type="text" asp-for="PrecoDeVendaString" class="form-control" placeholder="99.99">
    <span asp-validation-for="PrecoDeVendaString"></span><br>
    <label asp-for="Medicao">Medição</label>
    <select class="form-control" asp-for="Medicao">
        <option value="0">Litro</option>
        <option value="1">Kilograma</option>
        <option value="2">Unidade</option>
    </select>
    <span asp-validation-for="Medicao"></span><br>
    <button class="btn btn-success">Atualizar</button>
</form>