@{
    Layout = "_LayoutAdmin";
}
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                            Categorias</div>
                        <a asp-controller="Gestao" asp-action="Categorias" class="h6 mb-0 font-weight-bold text-gray-600">Ver todas</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                            Fornecedores</div>
                        <a asp-controller="Gestao" asp-action="Fornecedores" class="h6 mb-0 font-weight-bold text-gray-600">Ver todos</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-people-carry fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-info text-uppercase mb-1">Produtos
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <a asp-controller="Gestao" asp-action="Produtos" class="h6 mb-0 mr-3 font-weight-bold text-gray-600">Ver todos</a>
                            </div>
                            @* <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-boxes fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">
                            Vendas</div>
                        <a asp-controller="Gestao" asp-action="Vendas" class="h6 mb-0 font-weight-bold text-gray-600">Ver todas</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2>Relatório de vendas</h2>
<canvas class="line-chart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
<script>
    const enderecoRelatorioVendas = "https://localhost:5001/Gestao/RelatorioDeVendas/"
    const labels = []
    const data = []
    $.post(enderecoRelatorioVendas, (dados, status) => {
        dados.forEach(dado => {
            labels.push(dado.data)
            data.push(dado.total)
        })

        const canvas = $(".line-chart")

        const grafico = new Chart(canvas, {
            type: "line",
            data: {
                labels,
                datasets: [{
                    label: "Total de vendas em R$",
                    data,
                    borderWidth: 12
                }]
            }
        })
    })
</script>